// body{
//     margin: 0;
//     padding: 0;
// }
.adduser {
    .tour {
        height: 52px;
        line-height: 52px;
        margin-top: 15px;
        padding-left: 20px;
        background: #fff;
        font-weight: 800;
        font-size: 20px;
        border-bottom: 1px solid #d9d9d9;
    }

    .biao1 {
        padding: 30px;

        p {
            background: #f1f1f1;
            height: 33px;
            line-height: 33px;
            font-size: 16px;
            padding-left: 15px;
        }

        form {
            box-sizing: border-box;
            padding: 10px 15px;
            border-bottom: 1px solid #d9d9d9;

            label {
                display: inline-block;
                width: 66px;
                text-align: right;
                margin-right: 10px;
                font-size: 14px;
            }

            input {
                border: none;
            }
        }

    }

    .ant-layout-content {

        // margin: 20px;
        .ant-collapse {
            border: none;
        }
    }

    .biao2 {
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 15px;

        p {
            height: 33px;
            line-height: 33px;
            font-size: 16px;
            padding-left: 15px;
        }

        form {
            box-sizing: border-box;
            padding: 10px 15px;
            border-bottom: 1px solid #d9d9d9;

            label {
                display: inline-block;
                width: 66px;
                text-align: right;
                margin-right: 10px;
                font-size: 14px;
            }

            input {
                border: none;
            }
        }
    }

    .check {
        margin-bottom: 80px;
        background: #fff;
        padding: 12px 12px;

        .jies {
            display: inline-block;
            margin-left: 10px;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -0.053333rem 0.16rem rgba(0, 0, 0, 0.16);

        .price {
            color: red;
            font-size: 20px;
            font-weight: 500;
        }

        .next {
            background-color: red;
            width: 188px;
            height: 48px;
            line-height: 48px;
            float: right;
            text-align: center;
            color: #fff;
        }
    }


}