.home{
    background: #f1f1f1;
}
.home .header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2100;
}
.home .header .search-box {
    height: 1.173333rem;
    padding: 0 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    color: #fff;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    width: 100%;
}
.home .search-box .left {
    width: 8.24rem;
    height: 0.96rem;
    padding: 0.16rem 0.186667rem;
    border-radius: 0.48rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #989898;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    font-size: 0.56rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
.home .van-icon {
    position: relative;
    font: 14px/1 "vant-icon";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.home .header .search-box .left span {
    font-size: 0.293333rem;
}
.home .header .search-box .right {
    font-weight: bold;
    font-size: .746667rem;
}


.home .banner {
    height: 5.6rem;
}
.home .ant-carousel .slick-slide {
    text-align: center;
    height: 5.6rem;
    line-height: 5.6rem;
    overflow: hidden;
}
.home .banner img{
    width: 100%;
}
.home .ant-carousel .slick-dots li button{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin: 0 2px;
}
.home .ant-carousel .slick-dots li.slick-active button{
    width: 16px;
}


.home .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
.home .entry-block {
    padding: 0.693333rem 0 0.333333rem;
    background-color: #fff;
    text-align: center;
  }
.home .entry-block .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 8px;
    height: 100%;
    position: relative;
}
.home .entry-block .title {
    color: #191919;
    font-size: 0.32rem;
  }
.home .entry-block .swiper-slide img {
    width: 1.173333rem;
    height: 1.173333rem;
}

.home .newnav {
    background-color: #fff;
    height: 1.7rem;
    width: 100%;
  }
.home .newnav div:nth-child(1) {
    width: 4.56rem;
    height: 1.6rem;
    float: left;
    text-align: left;
    background-image: url(../imgs/9a61422.png);
    background-repeat: no-repeat;
    background-size: 4.56rem 1.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0.426667rem;
    padding-left: 0.32rem;
}
.home .newnav div:nth-child(1) .p1 {
    color: #393939;
    font-weight: bold;
    font-size: 0.373333rem;
    text-align: left;
    line-height: 0.533333rem;
    margin-top: 0.2rem;
  }
.home .newnav div:nth-child(1) .p2 {
    color: #B1B1B1;
    text-align: left;
    line-height: 0.8rem;
    font-size: 0.32rem;
}
.home .newnav div:nth-child(2) {
    width: 4.56rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0.32rem;
    height: 1.6rem;
    margin-right: 0.426667rem;
    float: right;
    text-align: right;
    background-image: url(../imgs/4ec097e.png);
    background-repeat: no-repeat;
    background-size: 4.56rem 1.6rem;
    padding-right: 0.32rem;
}
.newnav div:nth-child(2) .p1 {
    margin-top: 0.2rem;
    color: #393939;
    font-weight: bold;
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    text-align: right;
  }
.newnav div:nth-child(2) .p2 {
    color: #B1B1B1;
    font-size: 0.32rem;
    text-align: right;
    line-height: 0.8rem;
}


.hot-target {
    padding: 0.46rem 0.32rem 0.16rem 0.506667rem;
    background-color: #fff;
}
.hot-target>.title{
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    padding-bottom: 0.533333rem;
}
.hot-target .title .name {
    color: #191919;
    font-size: 0.533333rem;
    font-weight: 400;
}
.hot-target .title .link-all {
    color: #5e5e5e;
    font-size: 0.32rem;
}
.hot-target .title i {
    vertical-align: text-bottom;
    display: inline;
}
.hot-place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .hot-place .hot-item {
    margin-bottom: .693333rem;
    width: 2.133333rem;
  }
  .hot-place img {
    width: 2.133333rem;
    height: 1.6rem;
    border-radius: 0.08rem;
}
.hot-place .hot-item .title {
    font-size: 0.266667rem;
    color: #000000;
    height: 0.426667rem;
    overflow: hidden;
}

.sale-time-box {
    margin-top: 0.32rem;
    background-color: #fff;
}
.sale-time-box .title {
    color: #191919;
    font-size: 0.533333rem;
    font-weight: 300;
    padding: 0.32rem 0.426667rem;
}
.snap-up-item {
    width: 9.146667rem;
    height: 7.386667rem;
    border-radius: 0.106667rem 0.106667rem 0 0;
    overflow: hidden;
}
.snap-up-item .banner {
    position: relative;
    height: 4.906667rem;
    background: #eee;
}
.snap-up-item .banner img {
    width: 100%;
    height: 4.906667rem;
}
.snap-up-item .desc {
    margin-top: 0.133333rem;
    font-size: 0.426667rem;
    position: relative;
    line-height: 0.533333rem;
    max-height: 1.066667rem;
    overflow: hidden;
}
.snap-up-item .desc .tag {
    display: inline-block;
    padding: 0 0.133333rem;
    text-align: center;
    color: #fff;
    font-size: 0.293333rem;
    border-radius: 0.08rem;
    background: #ef9a1a;
    vertical-align: middle;
}
.snap-up-item .price-wrap {
    margin-top: 0.16rem;
    font-size: 0;
}
.snap-up-item .price-wrap .price {
    font-size: 0.666667rem;
    color: #ff0000;
}
.snap-up-item .price-wrap .unit {
    font-size: 0.32rem;
    color: #ff0000;
}
.snap-up-item .price-wrap .ori-price {
    font-size: 0.32rem;
    color: #9a9a9a;
    text-decoration: line-through;
}

.product-list {
    background-color: #fff;
    margin-top: 0.32rem;
}
.product-list .title {
    color: #191919;
    font-size: 0.533333rem;
    font-weight: 300;
    padding: 0.32rem 0.426667rem;
}
.product-list .half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 0.2rem;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
.product-list .half-item {
    width: 50%;
}
.product-list .van-cell {
    padding: 0.133333rem;
}
.van-cell__value {
    color: #969799;
    overflow: hidden;
    text-align: right;
    position: relative;
    vertical-align: middle;
}
.van-cell__value--alone {
    color: #323233;
    text-align: left;
}
.hot-item{
    font-size: 0;
}
.hot-item .banner {
    position: relative;
    height: 3.2rem;
    border-radius: 0.106667rem;
    background-color: #d8d8d8;
    overflow: hidden;
}
.hot-item .banner img {
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
}
.hot-item .desc {
    margin-top: 0.133333rem;
    font-size: 0.373333rem;
    color: #3e3e3e;
}
.imitate-ellipsis2 {
    position: relative;
    line-height: 1.4em;
    height: 2.6em;
    overflow: hidden;
}
.no-wrap-line2 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hot-item .tag-icon-tour {
    font-size: 0.293333rem;
    line-height: 0.426667rem;
    color: #666;
    height: 0.4rem;
    overflow: hidden;
    margin-top: 0.066667rem;
}
.hot-item .tag-icon-tour span {
    display: inline-block;
    border-radius: 0.213333rem;
    background-color: #E4E4E4;
    padding: 0 0.133333rem;
    margin-bottom: 0.066667rem;
    margin-right: 0.026667rem;
}
.hot-item .price-wrap {
    margin-top: 0.106667rem;
}
.hot-item .price-wrap .price {
    font-size: 0.426667rem;
    color: #ff0000;
}
.hot-item .price-wrap .unit {
    font-size: 0.32rem;
    color: #ff0000;
}
.drift-wrap {
    width: 1.173333rem;
    height: 5.333333rem;
    position: fixed;
    right: 0.133333rem;
    bottom: 1.066667rem;
    font-size: 0.48rem;
    z-index: 2;
}
.drift-wrap img {
    display: block;
    margin-bottom: 5px;
    height: 1.173333rem;
    width: 1.173333rem;
}