.App {
  text-align: center;
}
.anticon{
  display: block;
}
.ant-tabs-nav{
  min-width: 375px;
  background: #fff
}
.ant-tabs-nav .ant-tabs-tab{
  padding: 3px 19.9px;
  text-align: center;
}
.ant-tabs-nav .ant-tabs-tab .anticon{
  margin: 0;
  font-size: 20px
}
.ant-tabs-nav{
  padding-top: 5px
}
.nav-text{
  font-size: .833333rem
}